{% extends 'layout.html.twig' %}

{% block title %}Espace d'Administration{% endblock %}

{% block content %}
    <h1 class="mt-5 mb-3 text-center">Espace d'administration</h1>

    {% include 'article/_article-table.html.twig' %}
{% endblock %}

