{% extends 'layout.html.twig' %}

{% block title %}Article index{% endblock %}

{% block content %}
    <h1 class="mt-2 text-center">
        {{ 'articles_list' | trans }} {{ pageTitle }}</h1>
    {% if is_granted('ROLE_AUTHOR') %}
        <div class="text-right MB-2">
            <a href="{{ path('article-new') }}" class="btn btn-danger">
                Nouvel Article
            </a>
        </div>
    {% endif %}

    {% include 'article/_article-table.html.twig' %}

{% endblock %}

{% block aside %}

    {% include '_aside.html.twig' %}

{% endblock %}
